.katex {
    padding: 2px;
    background-color: var(--body-background);
    border-radius: 6px;
}

.equation .katex {
    padding: 0;
    background-color: unset;
    border-radius: 0;
}

$kinds: "note", "info", "warning", "danger";

@each $kind in $kinds {
    .notice.#{$kind} {
        background-color: var(--notice-#{$kind}-accent-color);
    }
}
