[data-scheme="light"] {
    --notice-note-border-color: hsl(241, 57%, 23%);
    --notice-note-background-color: hsl(241, 57%, 93%);
    --notice-note-icon-color: hsl(241, 57%, 23%);
    --notice-note-accent-color: hsl(241, 57%, 73%);

    --notice-info-border-color: hsl(201, 99%, 36%);
    --notice-info-background-color: hsl(201, 99%, 86%);
    --notice-info-icon-color: hsl(201, 99%, 36%);
    --notice-info-accent-color: hsl(201, 99%, 36%);

    --notice-warning-border-color: hsl(44, 100%, 50%);
    --notice-warning-background-color: hsl(44, 100%, 90%);
    --notice-warning-icon-color: hsl(44, 100%, 50%);
    --notice-warning-accent-color: hsl(241, 57%, 23%);

    --notice-danger-border-color: hsl(351, 61%, 67%);
    --notice-danger-background-color: hsl(351, 61%, 87%);
    --notice-danger-icon-color: hsl(351, 61%, 67%);
    --notice-danger-accent-color: hsl(241, 57%, 23%);
}

.notice {
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;

    .icon {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        transform: translateY(-2px);
        margin-right: 8px;
    }
}

.notice-title {
    font-size: 1.07em;
    text-decoration: underline;
}

.notice.note {
    border-color: var(--notice-note-border-color);
    background-color: var(--notice-note-background-color);

    .icon {
        color: var(--notice-note-icon-color);
    }
}

.notice.info {
    border-color: var(--notice-info-border-color);
    background-color: var(--notice-info-background-color);

    .icon {
        color: var(--notice-info-icon-color);
    }
}

.notice.warning {
    border-color: var(--notice-warning-border-color);
    background-color: var(--notice-warning-background-color);

    .icon {
        color: var(--notice-warning-icon-color)
    }
}

.notice.danger {
    border-color: var(--notice-danger-border-color);
    background-color: var(--notice-danger-background-color);

    .icon {
        color:  var(--notice-danger-icon-color);
    }
}

[data-scheme="dark"] {
    --notice-note-border-color: hsl(241, 57%, 83%);
    --notice-note-background-color: hsl(241, 57%, 33%);
    --notice-note-icon-color: hsl(241, 57%, 83%);
    --notice-note-accent-color: hsl(241, 57%, 53%);

    --notice-info-border-color: hsl(201, 99%, 96%);
    --notice-info-background-color: hsl(201, 99%, 41%);
    --notice-info-icon-color: hsl(201, 99%, 96%);
    --notice-info-accent-color: hsl(201, 99%, 61%);

    --notice-warning-border-color: hsl(44, 100%, 90%);
    --notice-warning-background-color: hsl(44, 100%, 40%);
    --notice-warning-icon-color: hsl(44, 100%, 90%);
    --notice-warning-accent-color: hsl(44, 100%, 60%);

    --notice-danger-border-color: hsl(351, 61%, 67%);
    --notice-danger-background-color: hsl(351, 61%, 47%);
    --notice-danger-icon-color: hsl(351, 61%, 87%);
    --notice-danger-accent-color: hsl(351, 61%, 67%);
}
